In [1]:
import pandas as pd
import numpy as np

data = {'ONE' : np.random.randint(1, 10, 10),
    'TWO' : np.random.randint(-5, 10, 10),
    'THREE' : np.random.randint(- 100, 1000, 10),
    'FOUR' : np.random.randint(100, 1000, 10)
}
'''
df = pd.DataFrame(data)

#กำหนด style แบบ highlight ข้มมูลที่น้อยสุดในแต่ล่ะคอลัมน์
df.style.highlight_min(color='cyan')
'''

"\ndf = pd.DataFrame(data)\n\n#กำหนด style แบบ highlight ข้มมูลที่น้อยสุดในแต่ล่ะคอลัมน์\ndf.style.highlight_min(color='cyan')\n"

In [ ]:
data2 = {'ONE' : np.random.randint(1, 10, 5),
    'TWO' : np.random.randint(10, 100, 5),
    'THREE' : np.random.randint(100, 1000, 5)
}

df2 = pd.DataFrame(data2)

#กำหนด style แบบ highlight ข้มมูลที่มากสุดในแต่ล่ะคอลัมน์
df2.style.highlight_max(color='limegreen')

In [ ]:
#แสดงทั้งมากสุดและน้อยสุดพร้อมกัน
display (
    df.style.highlight_max(color='Aqua'), #มากสุดในแต่ล่ะคอลัมน์
    df.style.highlight_min(color='BurlyWood') #น้อยสุดในแต่ล่ะคอลัมน์
)

In [ ]:
# 6 Apr 2021
# การกำหนดสไตล์ในแถวและคอลัมน์
display(
    df.style.highlight_max(color='red', axis=0, subset=['TWO', 'THREE']),
    #กำหนดสไตล์ของแถวที่ 2 ถึง 4 และ คอลัมน์ one, two, three
    df.style.highlight_max(color='orange', subset=pd.IndexSlice[2:4, ['ONE', 'TWO', 'THREE']]),
    #กำหนดสไตล์ของแถวที่ 2 ถึง 4
    df.style.highlight_max(color='orange', subset=pd.IndexSlice[2:4])
)

In [ ]:
#7 Apr 2021
#การกำหนดรูปแบบของตัวเลข

#ข้อมูลตัวเลขจำนวนเต็ม
data_int = {
    'A' : np.random.randint(1000, 1000000, 5),
    'B' : np.random.randint(1000, 1000000, 5),
    'C' : np.random.randint(1000, 1000000, 5)
}

#ข้อมูลตัวเลขทศนิยม
data_dec = {
    'A' : np.random.choice([1233.345, 63333.78, 3.22, 0.233, 5.55], 5),
    'B' : np.random.choice([-3.15468, 8.98766, 45.55, 3.1009], 5)
}

df_int = pd.DataFrame(data_format) #dataframe ของ Integer
df_dec = pd.DataFrame(data_dec) #dataframe ของ Decimal

display(
    df_int.style.format('{:,}'), #จัด format โดยเพิ่มคอมม่าหลังหลักพัน
    df_dec.style.format('{:,.2f}') #จัด format โดยเพิ่มคอมม่าหลังหลักพัน และ เอาแค่ทศนิยมสองตำแหน่ง

)

In [4]:
#การกำหนด style ด้วย function ที่สร้างเอง

def negative_bg(df_color):
    bg = '#ffc' if df_color < 0 else 'inherit' #inherit คือการใช้รูปแบบเดิม
    return f'backgroud-color: {bg}'

data_color = {
    'one' : np.random.randint(-5, 10, 10),
    'two' : np.random.randint(-5, 10, 10),
    'three' : np.random.randint(-5, 10, 10),
    'four' : np.random.randint(-5, 10, 10)
}

df_color = pd.DataFrame(data_color)

display(
    df_color.style.set_caption('Test Random Number').applymap(negative_bg)
)